/* Large Devices, Wide Screens */
@media only screen and (max-width : 1334px)
  .navigation
    &-card
      &-container
        &__menu
          &__list
            display: flex
            flex-direction: column
            &__item
              margin: 0 20px 0 0
            &--center
              flex-direction: row
    &-head
      &-container
        &--block
          width: 100%
        &-body
          &--fluid
            width: 100%
    &-breadcrumb
      width: 100%
      &-list
        margin: 0 0 0 15px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .navigation
    &-card
      &-container
        &__social
          max-width: 33%
        &__menu
          min-width: 33%


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .navigation
    &-card
      &-container
        &__logo
        &__menu
          &__sidebar
            padding: 25px 33px
          &--center
            padding-left: 0
          &__logo
            display: none
        &__social
          &__list
            display: flex
            flex-direction: row
            &__item
              display: none
              &:first-child
                display: block

              &__link
                width: 45px
                height: 45px
                &__icon
                  font-size: 14px
                  line-height: 14px
                  height: 14px
    &-head
      &-container
        &__title
          line-height: 60px
        &-body
          padding: 0 4px
          &__menu
            &__item
              padding: 10px 4px
    &-breadcrumb
      width: 100%
      &-list
        margin: 0 0 0 15px




/* ломается шапка с навигацией */
@media only screen and (max-width : 554px)
  .navigation
    &-head
      &-container
        &-body
          &__menu
            &__item
              padding: 33px 10px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .navigation
    &-card
      &-container
        &__logo
        &__menu
          &__sidebar
            padding: 25px 33px
          &--center
            padding-left: 0
          &__logo
            display: none
        &__social
          &__list
            display: flex
            flex-direction: row
            &__item
              display: none
              &:first-child
                display: block

              &__link
                width: 45px
                height: 45px
                &__icon
                  font-size: 14px
                  line-height: 14px
                  height: 14px
    &-head
      &-container
        &__title
          line-height: 60px
        &-body
          padding: 0 4px
          &__menu
            &__item
              padding: 10px 4px
    &-breadcrumb
      width: 100%
      &-list
        margin: 0 0 0 15px

/* ломается шапка с навигацией */
@media only screen and (max-width : 370px)
  .navigation
    &-head
      &-container
        &-body
          &__menu
            &__item
              padding: 10px 3px
              font-size: 13px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .navigation
    &-card
      &-container
        &__menu
          &__list
            display: none
    &-head
      &-container
        &-body
          &__menu
            &__item
              font-size: 12px