.navigation
  &-head
    margin-bottom: 30px
    margin-right: auto
    margin-left: auto
    &--fluid
      border-bottom: solid 2px #F0F0F0
    &-container
      margin: 0 auto
      &--block
        width: 1170px
        background-color: white
        padding-bottom: 30px
      &-body
        height: 120px
        display: flex
        padding: 0 30px
        align-items: flex-end
        justify-content: space-between
        border-bottom: solid 2px #F0F0F0
        &--fluid
          width: 1170px
          border-bottom: none
          margin: 0 auto
        &__menu
          margin: 0 0 -2px 0
          padding: 0
          &__item
            display: inline-block
            list-style: none
            text-align: center
            padding: 33px 18px
            font-size: 14px
            font-weight: 500
            color: #B3B3B3
            transition: all 200ms
            cursor: pointer
            &--active
              color: #1875F0
              border-bottom: 2px solid #1875F0
            &:hover
              color: #1875F0
              border-bottom: 2px solid #1875F0
      &__title
        font-size: 24px
        font-weight: normal
        margin: 0
        line-height: 100px
        color: #666666
  &-card
    background-color: #fff
    &-container
      width: 100%
      margin: 0 auto
      display: flex
      justify-content: space-between
      &__menu
        width: 33.333%
        display: flex
        align-items: center
        &--center
          width: auto
        &--width_logo
          width: auto
        &__logo
          margin-left: 30px
          display: flex
          align-items: center
        &__sidebar
          padding: 32px 36px
          border-right: 2px solid #F5F5F5

        &__list
          padding: 0
          margin: 0 0 0 30px
          &--center
            margin: 0
          &__item
            display: inline-block
            font-size: 14px
            margin: 0 10px
            &:first-child
              margin-left: 0
            &__link
              color: #999999
              &:hover
                text-decoration: none
                color: #1875F0

      &__logo
        width: 33.333%
        display: flex
        align-items: center

      &__social
        display: flex
        align-items: center
        &__list
          margin: 0 30px 0 0
          padding: 0
          &__item
            margin-left: 10px
            display: inline-block
            &__link
              display: flex
              align-items: center
              align-content: center
              justify-content: center
              justify-items: center
              border-radius: 50%
              border: 2px solid #F5F5F5
              width: 40px
              height: 40px
              &__icon
                fill: #D8D8D8

              &:hover
                border-color: #1875F0
              &:hover &__icon
                fill: #1875F0

  &-breadcrumb
    margin: 0 auto
    width: 1170px
    height: 60px
    display: flex
    align-items: center
    &-list
      margin: 0 0 0 30px
      padding: 0
      list-style: none
      &__item
        font-size: 14px
        float: left
        color: #808080
        margin-left: 10px
        &:not(:first-child):before
          content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns:xlink='http://www.w3.org/1999/xlink' width='8px' height='13px' viewBox='0 0 8 13' version='1.1' xmlns='http://www.w3.org/2000/svg'> <defs> <polygon id='path-arrow-right' points='11.59 19.34 16.17 14.75 11.59 10.16 13 8.75 19 14.75 13 20.75'></polygon> </defs> <g id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'> <g id='3.-Icons/ic_keyboard_arrow_right' transform='translate(-11.000000, -8.000000)'> <mask id='mask-arrow-right' fill='white'> <use xlink:href='#path-arrow-right'></use> </mask> <g id='Icon'></g> <g id='5.-Colors/Gray-85' mask='url(#mask-arrow-right)' fill='#D8D8D8'> <g transform='translate(2.000000, 2.000000)' id='Gray-85'> <rect x='0' y='0' width='26' height='26'></rect> </g> </g> </g> </g> </svg>")
          background-size: 28px 28px
          height: 13px
          width: 8px
          margin-right: 10px
        &:first-child
          margin-left: 0
        &__link
          color: #B3B3B3
          &:hover
            color: #1875F0
            text-decoration: none
