.navigation
  &-head
    margin-bottom: 30px
    margin-right: auto
    margin-left: auto
    &--fluid
      border-bottom: solid 2px #F0F0F0
    &-container
      margin: 0 auto
      &--block
        width: 1170px
        background-color: white
        padding-bottom: 30px
      &-body
        height: 120px
        display: flex
        padding: 0 30px
        align-items: flex-end
        justify-content: space-between
        border-bottom: solid 2px #F0F0F0
        &--fluid
          width: 1170px
          border-bottom: none
          margin: 0 auto
        &__menu
          margin: 0 0 -2px 0
          padding: 0
          &__item
            display: inline-block
            list-style: none
            text-align: center
            padding: 33px 18px
            font-size: 14px
            font-weight: 500
            color: #B3B3B3
            transition: all 200ms
            cursor: pointer
            &--active
              color: #1875F0
              border-bottom: 2px solid #1875F0
            &:hover
              color: #1875F0
              border-bottom: 2px solid #1875F0
      &__title
        font-size: 24px
        font-weight: normal
        margin: 0
        line-height: 100px
        color: #666666

