/**Created by mr8bit on 19.12.17.**/

.icon
  &-time
    position: relative
    height: 20px
    width: 20px
    &:before
      content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"> <defs> <path d="M14.99,5 C9.47,5 5,9.48 5,15 C5,20.52 9.47,25 14.99,25 C20.52,25 25,20.52 25,15 C25,9.48 20.52,5 14.99,5 L14.99,5 Z M15,23 C10.58,23 7,19.42 7,15 C7,10.58 10.58,7 15,7 C19.42,7 23,10.58 23,15 C23,19.42 19.42,23 15,23 Z M15.5,10 L14,10 L14,16 L19.25,19.15 L20,17.92 L15.5,15.25 L15.5,10 Z" id="path-time"></path> </defs> <g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="-Main-Element" transform="translate(-233.000000, -2726.000000)"> <g id="Profile-Events-Card" transform="translate(188.000000, 2676.000000)"> <g id="content"> <g id="time" transform="translate(40.000000, 45.000000)"> <g id="3.-Icons/ic_schedule"> <mask id="mask-time" fill="white"> <use xlink:href="#path-time"></use> </mask> <g mask="url(#mask-time)" fill-rule="evenodd" fill="#FFFFFF"> <g transform="translate(2.000000, 2.000000)" id="White"> <rect x="0" y="0" width="26" height="26"></rect> </g> </g> </g> </g> </g> </g> </g> </g> </svg>')
      background-size: 20px 20px
      height: 20px
      width: 20px
  &-place
    position: relative
    height: 20px
    width: 20px
    &:before
      background-size: 20px 20px
      height: 20px
      width: 20px
      content: url('data:image/svg+xml;charset=UTF-8,<svg width="20px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <path d="M15,5 C11.13,5 8,8.13 8,12 C8,17.25 15,25 15,25 C15,25 22,17.25 22,12 C22,8.13 18.87,5 15,5 L15,5 Z M15,14.5 C13.62,14.5 12.5,13.38 12.5,12 C12.5,10.62 13.62,9.5 15,9.5 C16.38,9.5 17.5,10.62 17.5,12 C17.5,13.38 16.38,14.5 15,14.5 L15,14.5 Z" id="path-place"></path> </defs> <g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="-Main-Element" transform="translate(-236.000000, -2771.000000)"> <g id="Profile-Events-Card" transform="translate(188.000000, 2676.000000)"> <g id="content"> <g id="place" transform="translate(40.000000, 90.000000)"> <g id="3.-Icons/ic_place"> <mask id="mask-place" fill="white"> <use xlink:href="#path-place"></use> </mask> <g id="Icon"></g> <g id="5.-Colors/White" mask="url(#mask-place)" fill-rule="evenodd" fill="#FFFFFF"> <g transform="translate(2.000000, 2.000000)" id="White"> <rect x="0" y="0" width="26" height="26"></rect> </g> </g> </g> </g> </g> </g> </g> </g> </svg>')
  &--15-right
    margin-right: 15px
